$praimary: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(94, 7, 75, 1) 21%,
  rgba(91, 9, 121, 1) 48%,
  rgba(9, 90, 119, 1) 76%,
  rgba(0, 212, 255, 1) 100%
);
$Secondary: rgb(255, 255, 255);

@media only screen and (min-width: 390px) {
  .hideCard {
    visibility: hidden;
  }
  body {
    font-size: 1rem;
    text-align: center;
    background: $praimary;

    color: $Secondary;
    .cardBox {
      justify-content: center;
      align-items: center;
    }
    #card {
      background-color: rgba(19, 9, 48, 0.541);

      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 5px;
      border: 0.2rem solid rgb(245, 240, 240);
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;

      #img {
        max-width: 85%;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
      }
    }
  }
}
